section.footer
                .container 
                    .footer__content    
                        .footer__block 
                            h4.footer__title About Us
                            p.footer__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor odit ab recusandae asperiores voluptate dolorem tempora expedita aperiam quibusdam repellendus!
                            .footer__address 23 Green Street, Melbourne
                            .footer__mail seokit@example.com
                            .footer__phone 0075 8645 319557
                        .footer__block 
                            h4.footer__title Quick Links
                            ul.footer__list 
                                li.footer__item 
                                    a(href="#").footer__link About Our Team
                                li.footer__item 
                                    a(href="#").footer__link Monitoring Ranking
                                li.footer__item 
                                    a(href="#").footer__link SEO Support
                                li.footer__item 
                                    a(href="#").footer__link Search Engine Marketing
                                li.footer__item 
                                    a(href="#").footer__link Privacy Policy
                                li.footer__item 
                                    a(href="#").footer__link Color Optimization
                        .footer__block 
                            h4.footer__title Subscribe
                            p.footer__text Sign up with email to get updates about Seokit
                            form.footer__form 
                                input(type="email" placeholder="Enter your email" required).footer__input
                                input(type="submit" value="Sign up").footer__btn
                            ul.footer__social 
                                li.footer__social_item 
                                    a(href="#").footer__social_link.footer__social_fb
                                li.footer__social_item 
                                    a(href="#").footer__social_link.footer__social_lk
                                li.footer__social_item 
                                    a(href="#").footer__social_link.footer__social_yt
                    
                    p.footer__copy &copy; 2021 All Rights Reserved
