
.container
    .header__content
        a(href="index.html").logo#logo
            .logo__left ZA
            .logo__right digital  
        nav.nav
            ul.nav__list
                li.nav__item.nav__full
                    a(href='#').nav__link 
                        .nav__link_name Услуги
                    ul.nav__submenu 
                        li.nav__submenu_item 
                            a(href="service1.html").nav__submenu_link Услуга 1
                        li.nav__submenu_item 
                            a(href="#").nav__submenu_link Кейс 2fhdjblhjlkj
                        li.nav__submenu_item 
                            a(href="#").nav__submenu_link Кейс 3
                        li.nav__submenu_item 
                            a(href="#").nav__submenu_link Кейс 4
                li.nav__item
                    a(href='#').nav__link
                        .nav__link_name Кейсы
                    
                li.nav__item
                    a(href='#').nav__link
                        .nav__link_name Блог
                li.nav__item
                    a(href='contacts.html').nav__link
                        .nav__link_name Контакты
        
        .hamburger
            span.hamburger__menu
            
    