.form{
    width: 66%;

    @include desc{
        width: 58%;
    }

    @include tablets{
        width: 90%;
        margin-bottom: 8%;
    }

    @include phones{
        width: 100%;
    }

    &__row{
        margin-bottom: 3%;
        display: flex;
        justify-content: space-between;
    }

    &__cell{
        border: 1px solid rgba(0, 0, 0, .15);
        font-size: 15px;
        padding: 15px 25px;
        border-radius: 25px;

        &:focus{
            border-color: #ff4d06;
        }

        @include phones{
            font-size: 14px;
            padding: 10px 15px;
        }
    }

    &__input{
        
        width: 48%;

        &_long{
            width: 73%;

            @include desc{
                width: 69%;
            }
            @include phones{
                width: 67%;
            }
        }

        &_shot{
            width: 23%;
            @include desc{
                width: 27%;
            }
            @include phones{
                width: 29%;
            }
        }
        
    }

    &__textarea{
        width: 100%;
        margin-bottom: 3%;
        outline: 0;
        outline-offset: 0;
    }

    &__checkbox{
        display: flex;
        align-items: baseline;
        margin-bottom: 4%;
    }

    &__check{
        margin-right: 15px;
        margin-left: 5px;

        &:checked{
            background-color: #ff4d06;
            color: #ff4d06;
        }
    }

    &__text{
        font-weight: 500;

        @include phones{
            font-size: 14px;
        }
    }

    &__link{
        color: #ff4d06;
    }

    &__btn{
        width: 100%;
        background-color: #ff4d06;
        color: #fff;
        border-color: #ff4d06;
        transition: .3s;
        cursor: pointer;

        &:hover{
            border-color: #252525;
            background-color: #252525;
            transition: .3s;

        }
    }
}